/* Responsive form login and register */
.card-responsive-form-auth {
    width: 100%;
    max-width: 700px;
}

.form-container {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .card-responsive-form-auth {
        width: 100%;
    }   
}

@media (max-width: 576px) {
    .card-responsive-form-auth {
        width: 90%;
    }
    .img-auth {
        display: none;
    };
}

@media (min-width: 768px) {
    .card-responsive-form-auth {
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .card-responsive-form-auth {
        max-width: 500px;
    }
}

@media (min-width: 1200px) {
    .card-responsive-form-auth {
        max-width: 500px;
    }
}

@media (min-width: 1400px) {
    .card-responsive-form-auth {
        max-width: 600px;
    }
}
  